<div class="container">
  <div class="left">
    <div class="login-container">
      <div class="title-container text-center">
        <img src="https://res.cloudinary.com/drvwqlgqw/image/upload/v1727273593/colorful-shopping-bag-with-rainbow-colored-handle_1126821-16651-removebg-preview_ne1vuv.png" width="100" height="100" alt="Logo" class="logo">
        <h1 class="title">ChicCart</h1>
      </div>
      <form (ngSubmit)="login()" [formGroup]="loginForm" class="form">
        <app-form-input label="User Name"
                        type="text"
                        controlName="username"
                        [formGroup]="loginForm"
                        placeholder="Enter your username">
        </app-form-input>

        <app-form-input label="Email"
                        type="email"
                        controlName="email"
                        [formGroup]="loginForm"
                        placeholder="Enter your email">
        </app-form-input>

        <app-form-input label="Password"
                        type="password"
                        controlName="password"
                        [formGroup]="loginForm"
                        placeholder="Enter your password">
        </app-form-input>

        <div *ngIf="loginError" class="invalid-feedback">
          {{ loginError }}
        </div>
        <div *ngIf="usernameError" class="invalid-feedback">
          {{ usernameError }}
        </div>
        <div *ngIf="emailError" class="invalid-feedback">
          {{ emailError }}
        </div>
        <div *ngIf="passwordError" class="invalid-feedback">
          {{ passwordError }}
        </div>

        <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary">
          LOGIN
        </button>
      </form>
    </div>
  </div>
  <div class="right"></div>
</div>
