@import url('https://fonts.googleapis.com/css?family=Rubik:400,500&display=swap');
* {
  box-sizing: border-box;
}


body {
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  height: 100vh;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 440px;
  animation: left 1s ease-in-out forwards;
}

.right {
  flex: 1;
  background-color: black;
  background-image: url('https://img.freepik.com/free-photo/commerce-push-ecommerce-store-cart-supermarket_1418-13.jpg?size=626&ext=jpg&ga=GA1.1.1816030214.1726225267&semt=ais_hybrid');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-container {
  width: 100%;
}

.form {
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.form-field {
  height: 46px;
  padding: 0 16px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: 'Rubik', sans-serif;
  outline: none;
  transition: border-color 0.2s ease;
  margin-top: 20px;
}

  .form-field:focus {
    border-color: #0f7ef1;
  }

button {
  padding: 12px;
  border: none;
  background: linear-gradient(to right, #de48b5 0%, #0097ff 100%);
  border-radius: 3px;
  margin-top: 10px;
  color: white;
  letter-spacing: 1px;
  font-family: 'Rubik', sans-serif;
  cursor: pointer;
}

  button[disabled] {
    opacity: 0.6;
    cursor: not-allowed;
  }

/* Animation styles */
.animation {
  animation-name: move;
  animation-duration: 0.4s;
  animation-fill-mode: both;
}

@keyframes move {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-40px);
  }

  100% {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}

@keyframes left {
  0% {
    opacity: 0;
    width: 0;
  }

  100% {
    opacity: 1;
    width: 440px;
  }
}

.invalid-feedback {
  color: red;
  font-size: 12px;
}
.title-container {
  text-align: center; /* توسيط العنوان والشعار */
  margin-bottom: 20px; /* إضافة مسافة تحت العنوان */
}

.logo {
  width: 100px; /* ضبط عرض الشعار حسب الحاجة */
  height: auto; /* الحفاظ على نسبة الطول والعرض */
}

.title {
  color: #333; /* لون الخط */
  font-family: 'Lobster', cursive; /* استخدم الخط الجديد */
}
